.footer-cta {
  border: 1px solid;
  height: 200px;
  background: rgb(43, 43, 43);
  width: 100%;

  .ftr-link-cta {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
    padding: 1% 0 2% 0;
  }

  .ftr-link-cta a {
    color: #fafafa;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .footer-navigation {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
    padding: 2% 0 0 0;
  }

  .fab,
  .fas {
    font-size: 3.4rem;
    color: silver;
    transition: 0.4s linear;
  }

  .fab:hover,
  .fas:hover {
    cursor: pointer;
    color: white;
  }
}
