.projects-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
        height: 28vh;
        width: 22vw;
        border: 1px solid silver;
        border-radius: 3px;
        background: white;
        box-shadow: 0 0 8px silver;
        margin: 3% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        }    
}